[submodule "extra/googletest"]
	path = extra/googletest
	url = git@github.com:google/googletest.git
[submodule "extra/zlib"]
	path = extra/zlib
	url = git@github.com:madler/zlib.git
[submodule "extra/libpng"]
	path = extra/libpng
	url = git@github.com:glennrp/libpng.git
